#box {
    position:absolute;
    background-color: rgb(124, 118, 118);
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor:pointer;
    position:absolute;
    transition: 0.2s ease-in-out, top 0.2s ease-in-out;
    transform-origin: center;
    top: 10%;
    left:44%;
    z-index: 4;
}

#background {
    background-color: rgb(138, 84, 84);
    width: 500;
    height: 500;
}

#gameArea {
        position: relative;
        width: 600px;
        height: 400px;
        background: rgb(34, 32, 32);
        border: 2px solid #333;
        overflow: hidden;
    }

#gameSpot {
    width: 450px;
    height: 450px;
    background-color: rgb(179, 174, 174);
    position:absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid;
    border-color: black;
    border-radius: 10px;

}

#score {
    position: absolute;
    top:0.6%;
    left:5%;
    transform:translate(-50% -50%);
    background-color:grey;
    border-radius: 30px;
    height: 50px;
    width: 140px;
    border: 2px solid black;
}
#miss {
    position: absolute;
    top:0.6%;
    left:63%;
    transform:translate(-50% -50%);
    background-color:grey;
    border-radius: 30px;
    height: 50px;
    width: 140px;
    border: 2px solid black;
}

#scoreText {
    position: relative;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    top: 11px;
    font-size: 25px;
}

#clickMisses {
    position: relative;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    top: 11px;
    font-size: 25px;
}

#clickGotes {
    position: relative;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    top: 11px;
    font-size: 25px;
}


#box:hover {
    transform:scale(1.1)
}

#background {
    background-color: grey;
    width: 500px;
    height: 500px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:15px;
    display: flex;              /* Enables flexbox */
    align-items: center;        /* Vertical centering */
    flex-direction: column;
    border: 2px solid black;
}

#background h1 {
    position: absolute;
    margin: 0;
    top: 10px;
    font-weight: bold;
    font-size: 50px;
    background-color: rgb(146, 146, 146);
    border-radius: 15px;
    width: 280px;
    text-align: center;
    border: 2px solid rgb(80, 79, 79);
}

#buttonSpace {
    position: absolute;
    top:56%;
    left:50%;
    transform:translate(-41.5%, -50%);
    width: 500px;
    height: 400px;
    border-radius:15px;
    display: grid;
    grid-template-columns: repeat(3, 120px); /* Change number of columns here */
    grid-template-rows: repeat(100, 25px);    /* Change number of rows here */
    gap: 20px;                             /* Change gap value here */
    padding: 20px;
    
}

#buttonSpace button{
    border: 1px solid black;
    width: 120px;
    height: 35px;
    text-align: center;
    font-weight: bolder;
    border-radius: 15px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    cursor:pointer;

}

#buttonSpace button:hover {
    
    background-color: rgb(175, 175, 175);
    transform: scale(1.1)
}

#background2 { 
    background-color: grey;
    width: 450px;
    height: 370px;
    position: absolute;
    top:52%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:1vw;
    border: 2px solid black;
}